@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Prend toute la hauteur de l'écran */
  box-sizing: border-box; /* Inclut les bordures/paddings dans la taille */
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

#root {
  height: 100%;
}
